body {
    background-color: #111111;
}
.number-container {
    margin: 100px;
    width: 104px;
    height: 198px;
    background-color: #555555;
    position: relative;
}
.number-horizontal-section {
    width: 80px;
    height: 10px;
    background-color: #FEFEFE;
    position: relative;
}
.number-horizontal-section::before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    left: -5px;
    border-right: 5px solid #FEFEFE;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
}
.number-horizontal-section::after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: -5px;
    border-left: 5px solid #FEFEFE;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
}
.number-vertical-section {
    width: 10px;
    height: 80px;
    background-color: #FEFEFE;
    position: relative;
}
.number-vertical-section::before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: -5px;
    border-bottom: 5px solid #FEFEFE;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}
.number-vertical-section::after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: -5px;
    border-top: 5px solid #FEFEFE;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}
.number-section-top {
    position: absolute;
    top: 0px;
    left: 12px;
}
.number-section-top-left {
    position: absolute;
    top: 12px;
    left: 0px;
}
.number-section-top-right {
    position: absolute;
    top: 12px;
    right: 0px;
}
.number-section-center {
    position: absolute;
    top: 94px;
    left: 12px;
}
.number-section-bottom-left {
    position: absolute;
    bottom: 12px;
    left: 0px;
}
.number-section-bottom-right {
    position: absolute;
    bottom: 12px;
    right: 0px;
}
.number-section-bottom {
    position: absolute;
    bottom: 0px;
    left: 12px;
}
